* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#000;
    text-decoration: none;
  }
  
  body {
    padding: 30px;
    background-color: #F3F3F3
  }
  
  body {
    background-color:#ce3635;
    text-align: center;
    color:#fff;
    padding-top:10em;
  }
